<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension id="product" point="org.eclipse.core.runtime.products">
	<product name="todo_app" application="org.eclipse.fx.ui.workbench.fx.application" >
		<property name="appName" value="todo_app" />
		
		<property name="applicationXMI" value="todo.example.app/Application.e4xmi" />
		
		<property name="cssTheme" value="theme.default" />
		
		<property name="lifeCycleURI" value="bundleclass://todo.example.app/todo.example.app.lifecycle.Manager"/>
		
	</product>
	
</extension>
</plugin>
